<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="amqp"
		class="org.springframework.amqp.rabbit.logback.AmqpAppender">
		<host>localhost</host>
		<port>5672</port>
		<virtualHost>/</virtualHost>
		<username>guest</username>
		<password>guest</password>
		<exchangeType>topic</exchangeType>
		<exchangeName>demo.log</exchangeName>
		<applicationId>demo</applicationId>
		<routingKeyPattern>test</routingKeyPattern>
		<contentType>text/plain</contentType>
		<maxSenderRetries>2</maxSenderRetries>
		<charset>UTF-8</charset>

		<layout>
			<pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
		</layout>
	</appender>

	<logger name="com.example" level="DEBUG">
		<appender-ref ref="amqp" />
	</logger>
	<logger name="com.spring.controller" level="DEBUG">
		<appender-ref ref="amqp" />
	</logger>

</configuration>